$content-width: 1200px;
$breakpoint: 799px;
$nav-height: 70px;
$dark-color: #000000;
$white: #ffffff;
$primary-color: #0F627D;
$secondary-color: #F7941E;
$border-radius: 8px;
$whitesmoke: whitesmoke;
$body-font-size: 16px;
$text-color: gray;

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inter:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
}

.heading {
    font-family: 'Anton', sans-serif;
    font-size: 48px;
    letter-spacing: 5px;
}

button, .btn {
    padding: 15px 25px;
    border: 1px solid transparent;
    background-color: $secondary-color;
    color: $white;
    font-size: 18px;
    transition: linear 0.3s;
    &:hover {
        background-color: $primary-color;
        border: 1px solid $white;
    }
}
.container {
    margin: auto;
    max-width: $content-width;
    display: flex;
    align-items: center;
    gap: 100px;
    .col-left {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        gap: 30px;
    }
    .col-right {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        gap: 30px;
    }
}

.hero {
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: $primary-color;
    color: $white;
    position: relative;
    .container {
        .col-right {
            img {
                position: absolute;
                top: 0;
                right: 0;
                height: 100%;
                width: 45%;
                z-index: 0;
            }
        }
    }
}

.about {
    padding: 80px 0;
    .container {
        .col-right {
            h1 {
                color: $primary-color;
            }
        }
    }
}

.products {
    padding: 80px 0;
    .container {
        text-align: center;

        .product-grid {
            p {
                margin: 30px 25%
            }

            .grids {
                margin-top: 30px;
                display: grid;
                grid-template-columns: 24% 24% 24% 24%;
                justify-content: space-between;

                .product {
                    width: 100%;
                    background-color: $whitesmoke;
                    border: 1px solid $whitesmoke;

                    img {
                        width: 100%;
                        height: 200px;
                        object-fit: cover;
                    }

                    .content {
                        text-align: start;
                        margin-top: 20px;
                        padding: 20px;

                        .desc {
                            margin: 10px 0;
                            
                        }
                    }
                }
            }
        }
    }
}

.call-to-action {
    .container {
        background-color: $primary-color;
        padding: 50px 100px;
        color: $white;

        .call-to-action-container {
            display: flex;
            flex-direction: column;
            gap: 30px;
            text-align: center;

            p {
                margin: 0 20%;
            }
        }
    }
}

.contact {
    padding: 80px 0;
    .container {
        .col-left{
            .heading {
                color: $primary-color;
            }

            .contacts-list {
                ul {
                    list-style: none;

                    display: flex;
                    flex-direction: column;
                    gap: 14px;

                    li {
                        a {
                            text-decoration: none;
                            display: flex;
                            align-items: center;
                            gap: 14px;
                            color: $dark-color;

                            transition: linear 0.3s;

                            i {
                                color: $primary-color;
                                border: 1px solid $primary-color;
                                height: 32px;
                                width: 32px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                border-radius: 32px;
                            }

                            &:hover {
                                color: $primary-color;

                                i {
                                    color: $secondary-color;
                                    border: 3px solid $secondary-color;
                                }
                            }
                        }

                    }
                }
            }
        }

        .col-right {
            text-align: end;
            form {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                row-gap: 15px;
                input {
                    padding: 15px 25px;

                    &::placeholder {
                        font-size: 18px;
                        font-family: 'Inter', sans-serif;
                    }
                }

                textarea {
                    padding: 15px 25px;

                    &::placeholder {
                        font-size: 18px;
                        font-family: 'Inter', sans-serif;
                    }
                }
                .half {
                    width: 49%;
                }
                .full {
                    width: 100%;
                }
            }
        }
    }
}

footer {
    padding: 50px 0;
    background-color: $primary-color;
    color: white;
    .container {
        .social-media {
            display: flex;
            gap: 14px;
            a {
                text-decoration: none;
                display: flex;
                align-items: center;
                gap: 14px;
                color: $white;

                transition: linear 0.3s;

                i {
                    color: $white;
                    border: 1px solid $white;
                    height: 32px;
                    width: 32px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 32px;
                }

                &:hover {
                    color: $primary-color;

                    i {
                        color: $secondary-color;
                        border: 3px solid $secondary-color;
                    }
                }
            }
        }

        .copy-rights {
            letter-spacing: 1px;

            span {
                a {
                    color: $secondary-color;
                    text-decoration: none;
                }
            }
        }
    }
}