$content-width: 1200px;
$breakpoint: 799px;
$nav-height: 70px;
$dark-color: #000000;
$white: #ffffff;
$primary-color: #0F627D;
$secondary-color: #F7941E;
$border-radius: 8px;
$whitesmoke: whitesmoke;
$body-font-size: 16px;
$text-color: gray;

@media screen and (max-width: $breakpoint) {
    .heading {
        font-size: 32px;
    }

    .container {
        flex-direction: column;
        padding: 0 20px;
        gap: 30px;

        .col-left {
            width: 100%;
        }

        .col-right {
            width: 100%;
        }
    }

    .hero {
        height: auto;
        .container {
            .col-left {
                margin-top: 55vh;
            }
            .col-right {
                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    height: 50vh;
                    width: 100%;

                    object-fit: cover;
                }
            }
        }
    }

    .products {
        .container {
            .product-grid {
                p {
                    margin: 30px 0;
                }

                .grids {
                    grid-template-columns: 100%;
                    row-gap: 20px;
                    padding: 0 30px;
                }
            }
        }
    }

    .call-to-action {
        .container {
            padding: 50px 20px;

            .call-to-action-container {
                p {
                    margin: 0;
                }
            }
        }
    }

    .thank-you {
        height: auto;
        padding: 150px 0;

        .container {
            .thank-you-content {
                margin: 0;
            }
        }
    }
}