{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rene Processing ltd</title>
    <link rel="icon" href="{% static '/img/favicon.svg' %}" />
    <link rel="stylesheet" href="{% static '/css/nav.css' %}" />
    <link rel="stylesheet" href="{% static '/css/styles.css' %}" />
    <link rel="stylesheet" href="{% static '/css/mobile.css' %}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <script src="https://kit.fontawesome.com/54c10e37be.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
</head>
<body>
    <header class="navigation" id="nav">
        <div class="nav-container">
            <div class="brand">
                <a class="site-logo" href="/"><img src="{% static '/img/Logo.svg' %}" alt="" /></a>
            </div>
            <nav class="links-container">
                <div class="nav-mobile">
                    <a id="nav-toggle" href="#!"><span></span></a>
                </div>
                <ul class="nav-list">
                    <li><a href="/#welcome" class="scroll-link">Welcome</a></li>
                    <li><a href="/#about" class="scroll-link">About Us</a></li>
                    <li><a href="/#product" class="scroll-link">Shop</a></li>
                    <li><a href="/#contact" class="scroll-link"><button>Contact us</button></a></li>
                </ul>
            </nav>
        </div>
    </header>

    <section class="hero" id="welcome">
        <div class="container">
            <div class="col-left">
                <h1 class="heading">
                    Better Health Trough Better Living
                </h1>

                <p>
                    Authenticity of the highest quality of our products and customer service.
                </p>

                <a href="">
                    <button>Get your now</button>
                </a>
            </div>

            <div class="col-right">
                <img src="{% static '/img/liquid soap.jpg' %}" alt="">
            </div>
        </div>
    </section>

    <section class="about" id="about">
        <div class="container">
            <div class="col-left">
                <img src="{% static '/img/PRODUCTS.jpg' %}" alt="">
            </div>

            <div class="col-right">
                <h1 class="heading">About the comapny</h1>
                <p>
                    Our mission is promoted awareness in healthy lifestyle through our expended range of products produced from plants
                </p>

                <a href=""><button>Learn more about us</button></a>
            </div>
        </div>
    </section>

    <section class="products" id="product">
        <div class="container">
            <div class="product-grid">
                <h1 class="heading">Products</h1>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat facere, atque eligendi autem laboriosam odit accusantium sequi? Totam dignissimos, recusandae accusamus inventore voluptatum veritatis magnam impedit, sint officia vitae voluptates?
                </p>

                <div class="grids">
                    <div class="product">
                        <img src="{% static '/img/products/MAGIC CAR SHAMPOO.jpg' %}" alt="">
                        <div class="content">
                            <h4 class="title">Magic car wash</h4>
                            <p class="desc">
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque nihil quod rerum et doloremque eum vitae! 
                            </p>
                        </div>
                    </div>

                    <div class="product">
                        <img src="{% static '/img/products/MAGIC DISH WASH 500 ml.jpg' %}" alt="">
                        <div class="content">
                            <h4 class="title">Clean dish rack</h4>
                            <p class="desc">
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque nihil quod rerum et doloremque eum vitae! 
                            </p>
                        </div>
                    </div>

                    <div class="product">
                        <img src="{% static '/img/products/MAGIC HAIR SHAMPOO 300 ML.jpg' %}" alt="">
                        <div class="content">
                            <h4 class="title">Magic hair conditioner</h4>
                            <p class="desc">
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque nihil quod rerum et doloremque eum vitae! 
                            </p>
                        </div>
                    </div>

                    <div class="product">
                        <img src="{% static '/img/products/MAGIC BODY AND HAND WASH.jpg' %}" alt="">
                        <div class="content">
                            <h4 class="title">Magic body hand wash</h4>
                            <p class="desc">
                                Bath or hand soap act as surfactants, therefore emulsify grease such as sebum accumulation on skin and remove it efficiently.
                            </p>
                        </div>
                    </div>

                    <div class="product">
                        <img src="{% static '/img/products/MAGIC DISH WASH.jpg' %}" alt="">
                        <div class="content">
                            <h4 class="title">Magic dish wash</h4>
                            <p class="desc">
                                It is usually a highly-foaming mixture of surfactants with low skin irritation, and is primarily used for hand washing of glasses, plates, cutlery, and cooking utensils in a sink or bowl.
                            </p>
                        </div>
                    </div>

                    <div class="product">
                        <img src="{% static '/img/products/MAGIC HAIR SHAMPOO.jpg' %}" alt="">
                        <div class="content">
                            <h4 class="title">Magic hair shampoo</h4>
                            <p class="desc">
                                is a hair care cosmetic product used to improve the feel, texture, appearance, and manageability of hair.
                            </p>
                        </div>
                    </div>

                    <div class="product">
                        <img src="{% static '/img/products/MAGIC LAUNDRY.jpg' %}" alt="">
                        <div class="content">
                            <h4 class="title">Magic Laundry</h4>
                            <p class="desc">
                                Will clean and restore the appearance of your house floors and is ideal as a protector from bad smell in the house and clothes.
                            </p>
                        </div>
                    </div>

                    <div class="product">
                        <img src="{% static '/img/products/MAGIC LAUNDRY PRIME.jpg' %}" alt="">
                        <div class="content">
                            <h4 class="title">Magic laundry prime</h4>
                            <p class="desc">
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque nihil quod rerum et doloremque eum vitae! 
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="call-to-action">
        <div class="container">
            <div class="call-to-action-container">
                <h1 class="heading">Call to action</h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Error repellat culpa ducimus at ipsa numquam aliquid atque, eum tempore modi. Delectus, molestias consequatur? Nisi accusantium perferendis debitis officia iure numquam.
                </p>

                <a href="">
                    <button>Get yours now</button>
                </a>
            </div>
        </div>
    </section>

    <section class="contact" id="contact">
        <div class="container">
            <div class="col-left">
                <h1 class="heading">Get in touch</h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </p>

                <div class="contacts-list">
                    <ul>
                        <li><a href="tel:+250781498720"><i class="fas fa-phone-alt"></i>+250 781 498 720</a></li>
                        <li><a href="mailto:reneprocessingltd@gmail.com"><i class="fa fa-envelope"></i>reneprocessingltd@gmail.com</a></li>
                        <li><a href=""><i class="fas fa-map-marker-alt"></i>Kigali Rwanda</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-right">
                <form action="" method="POST">
                    {% csrf_token %}
                    {{form.first_name}}
                    {{form.last_name}}
                    {{form.email}}
                    {{form.phone_number}}
                    {{form.message}}
                    <input class="btn" type="submit" value="Send your message">
                </form>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <img src="{% static '/img/Logo.svg' %}" alt="" class="logo">
            <div class="social-media">
                <a href="https://www.facebook.com/profile.php?id=100085291705240" target="_blank"><i class="fab fa-facebook-f"></i></a>
                <a href="https://twitter.com/Reneprocessing" target="_blank"><i class="fab fa-twitter"></i></a>
                <a href="https://www.instagram.com/rprocessingltd/" target="_blank"><i class="fab fa-instagram"></i></a>
            </div>

            <div class="copy-rights"><i></i> All rights reserved | Design by <span> <a href="">Alphonse</a></span></div>
        </div>
    </footer>
    <script src="{% static '/js/nav.js' %}"></script>
</body>
</html>